# =====================================================
# FILE INI TIDAK BOLEH DI-PUSH KE GITHUB
# Salin file ini menjadi .env dan isi nilai-nilainya
# =====================================================

# Gemini API Keys (pisahkan dengan koma jika lebih dari satu)
GEMINI_API_KEY_1=ISI_GEMINI_API_KEY_1_DI_SINI
GEMINI_API_KEY_2=ISI_GEMINI_API_KEY_2_DI_SINI
GEMINI_API_KEY_3=ISI_GEMINI_API_KEY_3_DI_SINI

# # n8n Webhook URL
# N8N_WEBHOOK_URL=https://reinhard1.app.n8n.cloud/webhook/tanya-rag

# n8n Webhook URL
N8N_WEBHOOK_URL=https://reinhard1.app.n8n.cloud/webhook-test/tanya-rag


# Django Secret Key (ganti dengan nilai acak yang kuat)
DJANGO_SECRET_KEY=ganti-dengan-secret-key-baru-yang-aman
